<html>
<title>NFC Webserver Log</title>
<head>
    <link rel="stylesheet" href='log.css' />
</head>

<body>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some stuff that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some garbage that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is something that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some other stuff that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some more stuff that was sent by this person!!
	  </div>
	</div>
  </div>
</body>

</html>
