<html>
<title>NFC Webserver Log</title>
<head>
    <link rel="stylesheet" href='templates/log.css' />
</head>

<body>
  <h3>Webserver contact log</h3>
  <p>
	Every time that a device contacts the webserver and says that it
	has a code for it that it got from an NFC tag, that message gets
	entered into the log. These log messages signify attempts to
	submit a scan. In order to differentiate them, the messages that
	are confirmed to be valid will be hilighted in green. Messages
	that are not accepted as scans will be grey, and rejected requests
	will be red.
  </p>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some stuff that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some garbage that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is something that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some other stuff that was sent by this person!!
	  </div>
	</div>
  </div>
  <div>
	<div class="match">
	  <div>
		<span class="label">src: 127.0.0.1</span>
	  </div>
	  <div class="contents">
		This is some more stuff that was sent by this person!!
	  </div>
	</div>
  </div>
</body>

</html>
