<html>
<title>NFC Webserver Log</title>
<head>
    <link rel="stylesheet" href='templates/log.css' />
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">
</head>

<!-- Begin page content -->
<div id="wrap">
  <div class="container">
	<div class="page-header">
      <h1>NFC Webserver</h1>
	</div>
	<p>
	  Every time that a device contacts the webserver at address
	  "/submit" we assume that it is a device that has scanned an NFC
	  tag. The device submits the code that it was given by the tag in
	  the request, and this is recorded in our log. If the code is
	  valid, then the device gets a code sent to it that will allow
	  that device to confirm its scan of the tag. The webserver will
	  in turn store that information so that the same device will not
	  get multiple codes.
	</p>
	<p><a href="/log"> View the log here </a></p> 
  </div>

  
</div>


</html>
